Cython==0.15.1
Jinja2==2.6
Mako==0.5.0
dictshield==0.3.6
py-bcrypt==0.2
pymongo==2.1
python-dateutil==2.0
pyzmq==2.1.11
ujson==1.15
greenlet==0.3.2
gevent==0.13.6
gevent_zeromq==0.2.2
brubeck==0.3.7
brubeck-oauth==0.0.9
brubeck-uploader==0.0.9
brubeck-mysql==0.0.9
BeautifulSoup==3.2.1
requests==0.10.6
boto==2.2.2
redis==2.4.11