            <div class="q_inr c">
                <div class="q_data">
                    <div class="q_main">
                        <div class="q_inr">
                            <div class="q_top">
                                <div class="headerWrapper c">
                                    <a id="share_{{q_short_name}}-{{comment.id}}" href="#" class="do makeForm share {{q_short_name}}-{{comment.id}}"><span>+ Share</span></a>
                                    <a id="flag_{{q_short_name}}-{{comment.id}}" href="#" class="do makeForm flag {{q_short_name}}-{{comment.id}}"><span>Flag</span></a>
                                    <a id="reply_{{q_short_name}}-{{comment.id}}" href="#" class="do makeForm replyComment {{q_short_name}}-{{comment.id}} reply"><span>Reply</span></a>
                                    <a id="delete_{{q_short_name}}-{{comment.id}}" href="#" class="do action deleteItem {{q_short_name}}-{{comment.id}}"><span>Delete</span></a>
                                    <div class="q_clear"></div>
                                </div>
                            </div>
                            <div class="dyn {{q_short_name}}-{{comment.id}}"></div>
                            <div class="q_main_body">
                                <div class="q_main_user">
                                    <div class="q_thumbnail">
                                        {% if comment.is_anonymous %}
                                        <img width="30" height="30" src="http://qrate.co/img/blank.gif" />
                                        {% else %}
                                        <img width="30" height="30" src="{{comment.userThumbnailLarge|default(current_user.thumbnailLarge) }}" onerror="ImgError(this, 'http://qrate.co/img/blank.gif')" />
                                        {% endif %}
                                    </div>
                                    <div class="q_user_info">
                                        {% if comment.is_anonymous %}
                                        <span class="q_usr">Anonymous</span>
                                        {% else %}
                                        <span class="q_usr">{{(comment.username|e)|default(current_user.username|e|e)}}</span>
                                        {% endif %}
                                        <span class="time">{{comment.getTimeAgo()}}</span>
                                    </div>
                                    <div class="q_clear"></div>
                                </div>
                                <div class="q_txt">
                                        {% if comment.related_is_anonymous %}
                                        <a class="q_parent disabled" href="#"><span class="q_r_usr">{{Anonymous}}</span></a>
                                        {% else %}
                                        <a class="q_parent disabled" href="#"><span class="q_r_usr">{{comment.relatedUsername|default(related_user|attr('username'))}}</span></a>
                                        {% endif %}
                                    <p class="itemName caption type-{{comment.type}}">{{comment.name|e|sc}}</p>
                                </div>
                                <div class="q_clear"></div>
                            </div>
                            <div class="q_clear"></div>
                        </div>
                    </div>
                </div>
                <div class="q_clear"></div>
            </div>
            <div class="q_clear"></div>
