            <div class="q_inr c">
                <div class="q_data">
                    <div class="q_main">
                        <div class="q_inr">
                            <div class="q_top">
                                <div class="headerWrapper c">
                                    <a id="share_{{table}}-{{comment.id}}" href="#" class="do makeForm share {{table}}-{{comment.id}}"><span>+ Share</span></a>
                                    <a id="flag_{{table}}-{{comment.id}}" href="#" class="do makeForm flag {{table}}-{{comment.id}}"><span>Flag</span></a>
                                    <a id="reply_{{table}}-{{comment.id}}" href="#" class="do makeForm replyComment {{table}}-{{comment.id}} reply"><span>Reply</span></a>
                                    <div class="q_clear"></div>                                     
                                </div>
                            </div>
                            <div class="dyn {{table}}-{{comment.id}}"></div>
                            <div class="q_main_body">
                                <div class="q_main_user">
                                    <div class="q_thumbnail">
                                        <img width="30" height="30" src="{{comment.userThumbnailLarge|default(current_user.thumbnailLarge) }}" onerror="ImgError(this, 'http://qrate.co/img/blank.gif')" />
                                    </div>
                                    <div class="q_user_info">
                                        <span class="q_usr">{{comment.username|default(current_user.username)}}</span>
                                        <span class="time">{{comment.getTimeAgo()}}</span>
                                    </div>
                                    <div class="q_clear"></div>
                                </div>
                                <div class="q_txt">
                                    <a class="q_parent disabled" href="#"><span class="q_r_usr">{{comment.relatedUsername|default(related_user|attr('username'))}}</span></a>
                                    <p class="itemName caption type-{{comment.type}}">{{comment.name}}</p>
                                </div>
                                <div class="q_clear"></div>                                
                            </div>
                            <div class="q_clear"></div>
                        </div>
                    </div>
                </div>
                <div class="q_clear"></div>
            </div>
            <div class="q_clear"></div>
