            <div class="q_inr p">
                <div class="q_data">
                    <div class="q_main">
                        <div class="q_inr">
                            <div class="q_top">
                                <div class="headerWrapper p">
                                    <a id="share_{{table}}-{{comment.id}}" href="#" class="do makeForm share {{table}}-{{comment.id}}"><span>+ Share</span></a>
                                    <a id="flag_{{table}}-{{comment.id}}" href="#" class="do makeForm flag {{table}}-{{comment.id}}"><span>Flag</span></a>
                                    <div class="q_clear"></div>                                     
                                </div>
                            </div>
                            <div class="q_main_body">
                                <div class="q_txt">
                                    <p class="itemName caption type-{{type}}">{{comment.name}}</p>
                                </div>
                                <div class="q_clear"></div>
                            </div>
                            <div class="q_main_footer">
                                <div class="q_main_user">
                                    <div class="q_thumbnail">
                                        <img width="30" height="30" src="{{comment.userThumbnailLarge|default(current_user.thumbnailLarge) }}" onerror="ImgError(this, 'http://qrate.co/img/blank.gif')" />
                                    </div>
                                    <div class="q_user_info">
                                        <span class="q_usr">{{comment.username|default(current_user.username)}}</span>
                                        <span class="time">{{comment.getTimeAgo()}}</span>
                                    </div>
                                    <div class="q_clear"></div>
                                </div>
                            </div>
                            <div class="q_bottom lv-1">
                                <fieldset class="reply bottom">
                                    <legend>Reply</legend>
                                    <div class="replyWrapper">
                                        <div class="inner">
                                            <a id="reply_{{table}}-{{comment.id}}" href="#" class="do makeForm replyComment {{table}}-{{comment.id}} reply"><span>Reply (<span class="replycount">{{comment.childCount}}</span>)</span></a>
                                            <div class="q_clear"></div>
                                        </div>
                                    </div>
                                    <div class="vote wrapper">
                                        <div class="inner">
                                            <div class="upVote wrap"><a href="#" class="do action upVote {{table}}-{{comment.id}}"><span class="voted">{{comment.votesUp}}</span></a></div>
                                            <div class="downVote wrap"><a href="#" class="do action downVote {{table}}-{{comment.id}}"><span class="voted">{{comment.votesDown}}</span></a></div>
                                            <div class="q_clear"></div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="dyn {{table}}-{{comment.id}}"></div>
                            </div>
                            <div class="q_clear"></div>
                        </div>
                    </div>
                </div>
                <div class="q_clear"></div>
            </div>
            <div class="q_clear"></div>
