<!-- qoorate comments -->
<script>{{confjs}}</script>
<div id="q_" class="{{location}}">
    <div id="q_top">
        <div id="q_bndg">
            <div class="q_inr"><a href="{{qoorate_url}}">qrate</a></div>
        </div>
        <div id="q_cntr">
            <div class="q_inr">
                <span class="ttl">
                    {{contribution_text}}
                </span>
            </div>
        </div>
        <div id="q_socl">
            {% if current_user != None %}
            <div class="q_inr logged-in {{current_user.oauth_provider}}">
                <span class="ttl signin">Signed in via</span>
                <a href="#" id="q_connect_fb"> <span class="q_fb">Facebook</span></a>
                <a href="#" id="q_connect_tw" class="q_tw"><span class="q_tw">Twitter</span></a>
                <a href="#" id="q_connect_gp" class="q_gp"><span class="q_gp">Google+</span></a>
                <span class="ttl logoff"><a href="#" id="q_logoff" class="do action logoffUser">Log Out</a></span>
                <div class="q_clear"></div>
            </div>
            {% else %}
            <div class="q_inr">
                <span class="ttl signin">Sign in using</span>
                <a href="#" id="q_connect_fb"> <span class="q_fb">Facebook</span></a>
                <a href="#" id="q_connect_tw" class="q_tw"><span class="q_tw">Twitter</span></a>
                <a href="#" id="q_connect_gp" class="q_gp"><span class="q_gp">Google+</span></a>
                <span class="ttl logoff"></span>
                <div class="q_clear"></div>
            </div>
            {% endif %}
        </div>
    </div><!-- end q_top -->
    <div class="q_clear"></div>
    <div id="{{table}}" class="q_head_wrap">
        <div id="topReply">
            <div id="topReplyText"><span>Want to Contribute?</span></div>
            <div id="topReplyFnxn">
                <fieldset class="reply">
                    <legend>Reply</legend>
                    <a href="#" class="do makeForm replyComment {{table}}"><span>Comment</span></a>
                    <a href="#" class="do makeForm replyTopic {{table}}"><span>Topic</span></a>
                    <a href="#" class="do makeForm replyPhoto {{table}}"><span>Image</span></a>
                    <a href="#" class="do makeForm replyLink {{table}}"><span>Link</span></a>
                    <div class="q_sort_wrap table-{{table}}">
                        <a class="q_sort_button" href="#" role="button"><span>sort</span></a>
                        <ul id="q_sort_list" class="q_sort_list" style="visibility: hidden; ">
                            <li><a href="#" class="do action sort {{table}} order-1 disabled">voting</a></li>
                            <li><a href="#" class="do action sort {{table}} order-2">recent</a></li>
                            <li><a href="#" class="do action sort {{table}} order-3">oldest</a></li>
                        </ul>
                       <input type="hidden" id="q_sort_by" name="sort" value="voting">
                    </div>
                </fieldset>
            </div><!-- end topReplyFnxn -->
            <div class="q_clear"></div>
        </div><!-- end topReply -->
        <div class="dyn {{table}}"></div>
    </div><!-- end q_head_wrap -->
    <div id="q_cmnt">
        <ul id="q_cmnt_contents">
            {% if theme == 'grid' %}
                {% include "grid/grid_comments.html" %}
            {% else %}
                {% include "grid/comments.html" %}
            {% endif %}

        </ul><!-- end q_cmnt_contents -->
    </div><!-- end q_cmnt -->
</div><!-- end q_ -->
<!-- end qoorate comments -->