            <div class="q_inr p">
                <div class="q_data">
                    <div class="q_main">
                        <div class="q_inr">
                            <div class="q_top">
                                <div class="headerWrapper p">
                                    <a id="share_{{q_short_name}}-{{comment.id}}" href="#" class="do makeForm share {{q_short_name}}-{{comment.id}}"><span>+ Share</span></a>
                                    <a id="flag_{{q_short_name}}-{{comment.id}}" href="#" class="do makeForm flag {{q_short_name}}-{{comment.id}}"><span>Flag</span></a>
                                    <a id="delete_{{q_short_name}}-{{comment.id}}" href="#" class="do action deleteItem {{q_short_name}}-{{comment.id}}"><span>Delete</span></a>
                                    <div class="q_clear"></div>
                                </div>
                            </div>
                            <div class="q_main_body">
                                <div class="q_txt">
                                    {% for image in comment.images|default(comment_images) %}
                                    <div class="q_img">
                                        <img src="{{app["S3_IMG_PATH"]}}{{image.thumbnailLargeHash|default(thumbnailLargeHash)}}_m.jpg" 
                                                onerror="ImgError(this, '{{app["QOORATE_IMG_PATH"]}}{{image.thumbnailLargeHash|default(thumbnailLargeHash)}}','{{app["BROKEN_IMG_URI"]}}')">
                                    </div>
                                    <h3 class="itemName title type-{{comment.type}}">{{comment.name|e|sc}}</h3>
                                    {% endfor %}
                                </div>
                                <div class="q_clear"></div>
                            </div>
                            <div class="q_main_footer">
                                <div class="q_main_user">
                                    <div class="q_thumbnail">
                                        {% if comment.is_anonymous %}
                                        <img width="30" height="30" src="http://qrate.co/img/blank.gif" />
                                        {% else %}
                                        <img width="30" height="30" src="{{comment.userThumbnailLarge|default(current_user.thumbnailLarge) }}" onerror="ImgError(this, 'http://qrate.co/img/blank.gif')" />
                                        {% endif %}
                                    </div>
                                    <div class="q_user_info">
                                        {% if comment.is_anonymous %}
                                        <span class="q_usr">Anonymous</span>
                                        {% else %}
                                        <span class="q_usr">{{(comment.username|e)|default(current_user.username|e|e)}}</span>
                                        {% endif %}
                                        <span class="time">{{comment.getTimeAgo()}}</span>
                                    </div>
                                    <div class="q_clear"></div>
                                </div>
                            </div>
                            <div class="q_bottom lv-1">
                                <fieldset class="reply bottom">
                                    <legend>Reply</legend>
                                    <div class="replyWrapper">
                                        <div class="inner">
                                            <a id="reply_{{q_short_name}}-{{comment.id}}" href="#" class="do makeForm replyComment {{q_short_name}}-{{comment.id}} reply"><span>Reply (<span class="replycount">{{comment.childCount}}</span>)</span></a>
                                            <a id="toggle_{{q_short_name}}-{{comment.id}}" href="#" class="toggleReply tco-{{comment.id}} expand"><span></span></a>
                                            <div class="q_clear"></div>
                                        </div>
                                    </div>
                                    <div class="vote wrapper">
                                        <div class="inner">
                                            <div class="upVote wrap"><a href="#" class="do action upVote {{q_short_name}}-{{comment.id}}"><span class="voted">{{comment.votesUp}}</span></a></div>
                                            <div class="downVote wrap"><a href="#" class="do action downVote {{q_short_name}}-{{comment.id}}"><span class="voted">{{comment.votesDown}}</span></a></div>
                                            <div class="q_clear"></div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="dyn {{q_short_name}}-{{comment.id}}"></div>
                            </div>
                            <div class="q_clear"></div>
                        </div>
                    </div>
                </div>
                <div class="q_clear"></div>
            </div>
            <div class="q_clear"></div>
