{% set i = 0 %}
{% for comment in comments %}
     {% if (comment.parent_sequence < ((moreIndex) + (parentCount))) or parentCount == 0 %}

        {% if comment.relatedId > 0 %}
            {% if (comment.child_sequence < childCount + 1) or childCount == 0 %}
            <li id="{{table}}-{{comment.id}}" class="q_item lv-2 vi-l tp-0 co-{{comment.parentId}} c cn-{{comment.child_sequence|int}} {{parent_tag}}-{{comment.parentId}}">
                {% include "child.html" %}
            </li>
            {% else %}
                {% include "more-comments.html" %}
            {% endif %}        
        {% else %}
            {% if comment.type == 0 %}
            <li id="{{table}}-{{comment.id}}" class="q_item lv-1 vi-l tp-{{comment.type}}">
                {% include "comment.html" %}
            </li>
            {% elif comment.type == 1 %}
            <li id="{{table}}-{{comment.id}}" class="q_item lv-1 vi-l tp-{{comment.type}}">
                {% include "image.html" %}
            </li>
            {% elif comment.type == 2 %}
            <li id="{{table}}-{{comment.id}}" class="q_item lv-1 vi-l tp-{{comment.type}}">
                {% include "link.html" %}
            </li>
            {% elif comment.type == 10 %}
            <li id="{{table}}-{{comment.id}}" class="q_item lv-1 vi-l tp-{{comment.type}}">
                {% include "topic.html" %}
            </li>
            {% endif %}        
        {% endif %}

    {% endif%}

{% else %}
    <!-- no comments -->
{% endfor %}

{% if i > 0 and i < parentCount + 1 and parentCount != 0 %}
    {% include "more-contributions.html" %}
{% endif %}

