/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
This contains CS style we want assumed for everything else
The CSS reset, default values for elements, etc ...
*/

#q_content_overlay a,
#q_content_overlay div,
#q_content_overlay span,
#q_ div, #q_ span,
#q_ h1, #q_ h2, #q_ h3, #q_ h4, 
#q_ blockquote,
#q_ a, #q_ img,
#q_ ol, #q_ ul, #q_ li,
#q_ fieldset, #q_ form, #q_ label, #q_ legend,
#q_ caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-shadow: none;
}

#q_ p {
  margin: 0 0 1em 0;
}

#q_, #q_ textarea {
    margin:0;
}


#q_ img {
    display: block;
}

#q_ {
    line-height: 1;
    margin: 0 auto !important;
}
#q_ ol, 
#q_ ul {
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
}

#q_ ol,
#q_ li,
#q_ li {
    list-style: none; 
}


#q_ blockquote {
    quotes: none;
}

#q_ blockquote:before, #q_ blockquote:after {
    content: '';
    content: none;
}

/* end css reset */

#q_overlay_content .q_clear,
#q_ .q_clear {
    clear: both;
}

#q_overlay_content .q_clear_left,
#q_ .q_clear_left {
    clear: left;
}

#q_overlay_content .q_clear_right,
#q_ .q_clear_right {
    clear: right;
}



#q_ textarea {
    resize: vertical;
}

